# Clustering(unsupervised learning)

## Clustering is of two types namely flat and heirarchial . 

### Flat Clustering: Find n clusters

### Heirarchial clustering: Machine figures out how many clusters are there.

## K means clustering(Flat clustering) 

### 1. Assign K feature points as centroids. 

### 2. Make clusters with nearest points.

### 3. find new centroids of new clusters.

### 4. Repeat 2 and 3 until centroids stop moving. 

## Advantages: Highly simple,
## Disadvantages:
## 1. tries to find equal sized clusters. problem when data is unbalanced. 
##                          2. Scaling

In [1]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn import preprocessing, cross_validation
import pandas as pd
import numpy as np
from matplotlib import style
style.use("ggplot")

In [2]:
X = np.array([[1,2],
             [1.5, 1.8],
             [5,8],
             [8,8],
             [1, 0.6],
             [9,11],])
# print(X)
# %matplotlib inline
# plt.scatter(X[:,0], X[:, 1], s = 50, color = 'g')

In [3]:
clf = KMeans(n_clusters=4)

clf.fit(X)

KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=4, n_init=10,
    n_jobs=1, precompute_distances='auto', random_state=None, tol=0.0001,
    verbose=0)

In [4]:
centroids = clf.cluster_centers_
print(centroids)
labels = clf.labels_
print(labels)
colors = ["g.", "r.", "b.", "c.", "k.", "o."]

for i in range(len(X)):
    plt.plot(X[i][0], X[i][1], colors[labels[i]], markersize = 10)
plt.scatter(centroids[:,0], centroids[:, 1], marker = "*", s= 150)

[[  5.           8.        ]
 [  1.16666667   1.46666667]
 [  9.          11.        ]
 [  8.           8.        ]]
[1 1 0 3 1 2]

### Applying Kmeans on titanic dataset

In [5]:
df = pd.read_excel('titanic.xls')

In [6]:
print(df.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [7]:
df.drop(['body', 'name'], 1 , inplace= True)

In [8]:
print(df.head())

   pclass  survived     sex      age  sibsp  parch  ticket      fare    cabin  \
0       1         1  female  29.0000      0      0   24160  211.3375       B5
1       1         1    male   0.9167      1      2  113781  151.5500  C22 C26
2       1         0  female   2.0000      1      2  113781  151.5500  C22 C26
3       1         0    male  30.0000      1      2  113781  151.5500  C22 C26
4       1         0  female  25.0000      1      2  113781  151.5500  C22 C26

  embarked boat                        home.dest
0        S    2                     St Louis, MO
1        S   11  Montreal, PQ / Chesterville, ON
2        S  NaN  Montreal, PQ / Chesterville, ON
3        S  NaN  Montreal, PQ / Chesterville, ON
4        S  NaN  Montreal, PQ / Chesterville, ON

In [9]:
df.convert_objects(convert_numeric=True)
df.fillna(0, inplace=True)
print(df.head())

   pclass  survived     sex      age  sibsp  parch  ticket      fare    cabin  \
0       1         1  female  29.0000      0      0   24160  211.3375       B5
1       1         1    male   0.9167      1      2  113781  151.5500  C22 C26
2       1         0  female   2.0000      1      2  113781  151.5500  C22 C26
3       1         0    male  30.0000      1      2  113781  151.5500  C22 C26
4       1         0  female  25.0000      1      2  113781  151.5500  C22 C26

  embarked boat                        home.dest
0        S    2                     St Louis, MO
1        S   11  Montreal, PQ / Chesterville, ON
2        S    0  Montreal, PQ / Chesterville, ON
3        S    0  Montreal, PQ / Chesterville, ON
4        S    0  Montreal, PQ / Chesterville, ON

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [10]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        if df[column].dtype != np.int64 or df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1
            df[column] = list(map(convert_to_int, df[column]))
    return df

df = handle_non_numerical_data(df)

In [11]:
print(df.head())

   pclass  survived  sex  age  sibsp  parch  ticket  fare  cabin  embarked  \
0       0         1    1   30      0      0     755   176     38         2
1       0         1    0   92      1      2     511   133     59         2
2       0         0    1    2      1      2     511   133     59         2
3       0         0    0   31      1      2     511   133     59         2
4       0         0    1   25      1      2     511   133     59         2

   boat  home.dest
0     1         36
1    19        169
2     0        169
3     0        169
4     0        169

In [37]:
## Creating our clustering model

X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = KMeans(n_clusters=2)

clf.fit(X)

KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=2, n_init=10,
    n_jobs=1, precompute_distances='auto', random_state=None, tol=0.0001,
    verbose=0)

In [39]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1
print(correct/len(X))

0.6699770817417876

##